# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000

# Backend
SECRET_KEY=your-secret-key
DEBUG=True

# PostgreSQL Database
DB_NAME=jobtracks
DB_USER=jobtracks_user
DB_PASSWORD=your-database-password
DB_HOST=localhost
DB_PORT=5432


# AI
OPENAI_API_KEY=your-openai-api-key